body,
html {
  width: 100%;
  height: 100%;

  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Inter", sans-serif;
}

p,
p1,
p2,
p3,
p4 {
  font-family: "Inter", sans-serif;
}

.sm {
  font-size: 0.75rem;
}
.rg {
  font-size: 1rem;
}

.md {
  font-size: 1.2rem;
}

.lg {
  font-size: 1.5rem;
}
.xl {
  font-size: 2rem;
}

.r-sm {
  font-size: 0.75rem;
}
.r-rg {
  font-size: 1rem;
}
.r-md {
  font-size: 1.2rem;
}
.r-lg {
  font-size: 1.5rem;
}
.r-xl {
  font-size: 2rem;
}

@media only screen and (max-width: 768px) {
  .r-sm {
    font-size: 0.75rem;
  }
  .r-rg {
    font-size: 1rem;
  }
  .r-md {
    font-size: 1.2rem;
  }
  .r-lg {
    font-size: 1.5rem;
  }
  .r-xl {
    font-size: 2rem;
  }
}

.font-weight-bold {
  font-weight: 700;
}

.font-weight-sbold {
  font-weight: 600;
}

.font-weight-medium {
  font-weight: 500;
}

.font-weight-regular {
  font-weight: 400;
}

.font-weight-light {
  font-weight: 300;
}

/* Footer */

.right-first {
  text-align: right;
}

.left-first {
  text-align: left;
}

.hide-on-sm {
  display: block;
}
.display-on-sm {
  display: none;
}

/* Small Viewports */
@media only screen and (max-width: 768px) {
  .center-on-sm {
    text-align: center !important;
  }
  .center-on-md {
    text-align: center !important;
  }

  .hide-on-sm {
    display: none;
  }
  .display-on-sm {
    display: block;
  }
  .left-on-sm {
    text-align: left !important;
  }
}

.numbered-list {
  font-family: "Public Sans", sans-serif;
}

.less-text {
  max-width: 550px;
  padding: 20px;

  margin: 0 auto;
}

.solution-color {
  color: #1f6121;
}

/*Text Formatting*/
.gradient-text {
  background-color: darkgrey;
  background-image: linear-gradient(45deg, #270093, #284c96);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.dark-blue {
  color: #1a2337;
}
.dark-purple {
  color: #423d4c;
}

/* Footer */

.footer-links {
  padding-bottom: 0px;
  margin-bottom: 0.75rem;
  line-height: 1.3rem;
}

.text-close {
  padding-bottom: 0rem;
  margin-bottom: 0rem;
}

.footer-button-fix {
  padding-left: 0rem !important;
  padding-right: 1rem !important;
}

/* Small Viewports */
@media only screen and (max-width: 768px) {
  .footer-button-fix {
    margin-bottom: 1em;
    padding-right: 1rem;
  }

  .large-icons {
    font-size: 3em;
  }
}

.react-icons-fix {
  vertical-align: -0.1em;
}

.large-icons {
  font-size: 1.5em;
}
